*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
}
html{
    font-size: 62.5%;
    font-family:sans-serif;
    scroll-behavior: smooth;
}
nav{
    font-size:1.6rem
}
pre{
    background-color: transparent;
    border: transparent;
}
/*Colors*/
.black_linear{
	background: linear-gradient(173deg, #000000 8%,rgba(255, 255, 255, 0) 70%);
}

.red{
	background: linear-gradient(173deg, #F9463B 30%,rgba(255, 255, 255, 0) 90%);
}
.red-to-solid{
	background: linear-gradient(to bottom, #86241E 100%,#F9473B 30%);
    font-family: "LoraRegular";
    color:honeydew;
}

.aqua{
    background: linear-gradient(173deg, #19ddc6 30%,rgba(255, 255, 255, 0) 90%);
	
}
.aqua-to-solid{
	background: linear-gradient(to bottom, #0D6E62 100%,#19DDC6 30%);   
    color:honeydew;
    font-family: "LoraRegular";

}

.yellow{
	background: linear-gradient(173deg, #F2DD1C 30%,rgba(255, 255, 255, 0) 90%);
}
.yellow-to-solid{
	background: linear-gradient(to bottom, #6B610D 100%,#F2DD1C 30%);
    color:honeydew;
    font-family: "LoraRegular";
}

/*Cards*/
.card_container{
    border-radius: 56px;
}
.card--image{
    border-radius: 40px 40px 0 0;
    height: 24rem;
    width:80%;
    margin-top: 3rem;
    object-fit: cover;
}
.card--info--container{
    position: relative;
    border-radius: 0 0 40px 40px;
    height:24rem;
    margin-bottom: 3rem;
    width: 80%;
    margin-left: 10%;
}
.question--info--container{
    position: relative;
    border-radius: 56px;
    height:-webkit-fill-available;
    padding-top: 3rem;
}
/*Utilities*/
.grayline{
    background-color: rgba(255, 255, 255, 0.226);
    width: 80%;
    margin-left: 10%;
    height:.25rem;
}
.whiteline{
    background-color: rgba(255, 255, 255, 0.596);
    width: 90%;
    height:.25rem;
    margin-top:.1rem
}
.middle--done{
    text-align: center!important;
    padding: 3rem;
}
/*Fonts*/
@font-face {
    font-family: PoppinsLightItalic;
    src: url('../fonts/poppins/Poppins-LightItalic.ttf') ;
    font-weight:normal; 
}
@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/poppins/Poppins-Bold.ttf') ;
    font-weight:700; 
}
@font-face {
    font-family: LoraRegular;
    src: url('../fonts/lora/Lora-Regular.ttf') ;
}

select{
    letter-spacing: 2px!important;
}
option{
    letter-spacing: 2px!important;
}
.header-golden{
    text-align: center;
    font-size: 6.4rem;
    font-family: "PoppinsLightItalic";
    text-transform: uppercase;
	background: linear-gradient(to bottom, #FFD874 50%,#FFC42E 0%, #FFCF55 30%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header-card--red{
    background: linear-gradient(to bottom, #86241E 25%,#F9473B 100%);
    text-align: left;
    font-size: 3.6rem;
    font-family: "PoppinsBold";
    text-transform: capitalize;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin: 0 10px 0 10px;
}
.header-card--aqua{
    background: linear-gradient(to bottom, #0D6E62 25%,#19DDC6 100%);
    text-align: left;
    font-size: 3.6rem;
    font-family: "PoppinsBold";
    text-transform: capitalize;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin: 0 10px 0 10px;
}
.header-card--yellow{
    background: linear-gradient(to bottom, #6B610D 25%,#F2DD1C 100%);
    text-align: left;
    font-size: 3.6rem;
    font-family: "PoppinsBold";
    text-transform: capitalize;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin: 0 10px 0 10px;
}
/*Cards*/
.question-card{
 padding: 3rem;

}
.card--desc{
    color:honeydew;
    text-align: left;
    font-size: 1.6rem;
    font-family: "LoraRegular";
    text-transform: capitalize;
    margin: 10px 10px 0 10px;
}
/*inputs*/
.button-bottom{
    position: absolute;
    margin-top: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.text-box--question{
    background-color: #00000049;
    border-radius: 56px;
    padding: 5px;
    color: whitesmoke;
    width:90%;
    margin: 5% 5% 50px 5%;
}
label.text-box--question{
    margin: .5rem 5% .5rem 5%
}
select.text-box--question{
    background-color: #00000049;
    border-radius: 12px;
    padding: 5px;
    color: whitesmoke;
    width:90%;
    margin: 5% 5% 50px 5%;
}
.map{
    width:96%;
    height:280px;
    margin:5px 2%;
}
/*Overwrite bootstrap*/
div.horizontal{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(80%,30rem),1fr));
    grid-gap: 5.6rem;
    grid-auto-rows: 60rem;
    text-align: center;
}
div.question{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(90%,35rem), 1fr));
    grid-auto-rows: 60rem;
    height:fit-content;
    grid-gap: 5.6rem;
    text-align: start; 
    justify-items: center;
    margin: 4rem 0;
}
div.check{
    text-align: center; 
    margin: 0 10%;
}
div.submit{
    grid-auto-rows: 20rem;
}


