<!DOCTYPE html>
<html lang="es">
{%extends 'bootstrap/base.html'%}
{%block head  %}
    {{super()}}
    <meta charset="UTF-8">
    <meta http-equiv=”Content-Language” content=”es”/>
    <meta name=”distribution” content=”global”/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content = "Appistear. Fiesta a la medida">
    <meta name="Keywords" content="beber,drink,place,lugares,bares,morelia,bar,drinking,michoacan,centro,"/>
    <meta name="Robots" content="all"/>
    <title>
        {% block title %}Platform | {% endblock %}
    </title>
    <link rel='stylesheet' href="{{url_for('static',filename = 'css/main.css')}}">
{%endblock%}

{%block body%}
    {%block navbar%}
        {%include 'navbar.html'%}
    {%endblock%}
    {%block content%}

    {%endblock%}
{%endblock%}
