{%extends 'base.html'%}
{%import 'macro_question_map.html' as question_map %}
{%import 'macro_question.html' as question_add %}
{%import 'bootstrap/wtf.html' as wtf %}

{% block title %}
        {{super()}}
        Appistear | +
{% endblock %}
{%block content%}
        {%for question in questions%}
                {%if question.get("type") == "map"%}
                        {{question_map.render_question_map(key, question)}}
                {%else%}
                        {{question_add.render_question(question)}}
                {%endif%}
        {%endfor%}
{% endblock %}