{%extends 'base.html'%}
{%import 'macro_card.html' as macros %}
{%import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{super()}}
Appistear
{% endblock %}


{%block content%}
    {{super()}}
    <div class="container">
        <h1 class = "header-golden" >¡APPISTEAR!</h1>
        <div class = "horizontal">
            {{macros.render_card("aqua","Agrega un nuevo sitio.","Dale a conocer al mundo tu bar o antro favorito.Responde preguntas simples y ubica el lugar a donde ir ✨.","add",form = add_form)}}
            {{macros.render_card("red","Encuentra tu fiesta.","Encuentra los mejores antros o mejores bares para divertirte.Responde preguntas simples y localiza el lugar que mejor se adapte a tu estilo de festejar 🎉.","search",form = search_form)}}
            {{macros.render_card("yellow","califica tu experiencia.","Comparte con el mundo cuáles son los mejores antros o mejores bares. Describe tu expriencia y ayuda a otros usuarios a pasarla cool 😎.","rate",form = rate_form)}}
        </div>
    </div>
{% endblock %}
