{%macro render_question(question)%}
<div class="content question">
    <div class = "aqua card_container question-card">
        <div class="question--info--container black_linear">
            <h1 class="header-card--aqua">{{question.get("header")}}</h1>
            <div class="whiteline"></div>
            <h3 class = "card--desc">{{question.get("text")}}</h3>
            <input type="{{question.get('type')}}" class = "text-box--question" value="{{question.get('options')}}">
            <input type="text" class = "text-box--question">
            <div class='button-bottom'>
                <input type="submit" class = "aqua-to-solid btn">
            </div>
        </div>
    </div>
</div>

{%endmacro%}