{%macro render_question()%}
<div class="content question">
    <div class = "aqua card_container question-card">
        <div class="question--info--container black_linear">

            <h1 class="header-card--aqua">Titulo</h1>
            <div class="whiteline"></div>
            <h3 class = "card--desc">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet eu imperdiet vitae mauris et eu scelerisque semper auctor?</h3>
            <input type="text" class = "text-box--question" id = "inputText">

            <div class='button-bottom'>
                <input type="submit" class = "aqua-to-solid btn">
            </div>
        </div>
    </div>
</div>

{%endmacro%}