{%import 'bootstrap/wtf.html' as wtf %}
{%macro render_card(main_color,header,desc,form = None)%}
<div class = '{{main_color}} card_container'>
        <img src="{{url_for('static',filename='images/default.jpg')}}" class = "card--image">
        <div class="grayline"></div>
        <div class="black_linear card--info--container">
            <h3 class="header-card--{{main_color}}">{{header}}</h3>
            <div class="whiteline"></div>
            <p class='card--desc'>                {{desc}}            </p>
            {%if form != None%}
            <div class='button-bottom'>
                <form method="post" action="{{url_for('add')}}">
                    {{ form.csrf_token }}<!--automathic-->
                    {{form.submit(class = main_color+"-to-solid btn")}}
                </form>
            </div>
            {%endif%}
        </div>
</div>
{%endmacro%}