{%extends 'base.html'%}
{%import 'macro_card.html' as card %}

{%import 'macro_question_map.html' as question_map %}
{%import 'macro_question_red.html' as question_add %}
{%import 'bootstrap/wtf.html' as wtf %}

{% block title %}
        {{super()}}
        Appistear | +
{% endblock %}
{%block content%}
        {%for question in questions%}
                {%if question.get("id")==0 and not answers[0]%}
                        {{question_add.render_question(question,answers)}}
                {%endif%}
                {%if answers[question.get("id")-1] and not answers[question.get("id")]%}
                                {{question_add.render_question(question,answers)}}
                {%endif%}
        {%endfor%}
        {%if None not in answers%}

                {%for question in questions%}
                        {{question_add.render_question(question,answers)}}

                {%endfor%}

        <div class="content question check">
                {{card.render_card("red","Formulario Completo","Revisa tus respuestas para verificar que todo este en orden, si ya esta todo correcto, presiona BUSCAR ✨.")}}
        </div>
        <div class="content question submit">
                <form method="post" action="{{url_for('search_place')}}">
                        <input type="submit" value="BUSCAR" class = "red-to-solid btn">
                </form>
        </div>
        {%endif%}
        <div id="footer" style="height: 50px;"></div>
        <script>
                document.getElementById('footer').scrollIntoView();
                // or
                document.location.hash = '#' + 'footer';
        </script>
{% endblock %}